*.class

# Package Files #
*.war
*.iml
*.ipr
*.iws
.*

# gwt caches and compiled units #
gwt-unitCache/
out/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/

# Gradle output directory
build/

